schema/concept.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="concept">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CONCEPT_ID" type="xs:int"/>
                <xs:element name="CONCEPT_NAME" type="xs:string"/>
                <xs:element name="DATATYPE" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
